html, body {
width: 100%;
margin: 0px;
padding: 0px;
font-family: 'helvetica neue';
background-color: rgb(51, 51, 51);
overflow-x: hidden;
}

.container-1-work,
.container-2-work,
.container-3-work,
.container-4-work,
.container-5-work,
.container-6-work {
  position: relative;
}

.container-1-work img,
.container-2-work img,
.container-3-work img,
.container-4-work img,
.container-5-work img,
.container-6-work img {
  width: 98vw;
  height: 90vh;
  object-fit: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.container-1-work video,
.container-2-work video,
.container-3-work video,
.container-4-work video,
.container-5-work video,
.container-6-work video {
  display: none;
}

.container-1-work h1,
.container-2-work h1,
.container-3-work h1,
.container-4-work h1,
.container-5-work h1,
.container-6-work h1 {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 110px;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.container-1-work h5,
.container-2-work h5,
.container-3-work h5,
.container-4-work h5,
.container-5-work h5,
.container-6-work h5 {
  position: absolute;
  top: 53%;
  left: 10%;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 13px;
  background-color: black;
  padding: 35px 40px;
}

.container-description-1-work,
.container-description-2-work,
.container-description-3-work,
.container-description-4-work,
.container-description-5-work,
.container-description-6-work {
  background-color: white;
  margin: auto;
  width: 98vw;
}

.container-description-1-work h2,
.container-description-2-work h2,
.container-description-3-work h2,
.container-description-4-work h2,
.container-description-5-work h2,
.container-description-6-work h2 {
  padding-top: 200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: rgb(51, 51, 51)
}

.container-description-1-work p,
.container-description-2-work p,
.container-description-3-work p,
.container-description-4-work p,
.container-description-5-work p,
.container-description-6-work p {
  color: rgb(51, 51, 51);
  text-align: center;
  padding-bottom: 70px;
  padding-top: 50px;
  padding-right: 70px;
  padding-left: 70px;
  font-size: 25px;
  font-weight: lighter;
}

.description-link1-work,
.description-link2-work,
.description-link3-work,
.description-link4-work,
.description-link5-work,
.description-link6-work {
  text-align: center;
  padding-bottom: 120px;
}

.description-link1-work a,
.description-link2-work a,
.description-link3-work a,
.description-link4-work a,
.description-link5-work a,
.description-link6-work a {
  text-decoration: none;
  color: white;
  background-color: rgb(51, 51, 51);
  padding: 30px 40px;
}

.description-link1-work a :hover,
.description-link2-work a :hover,
.description-link3-work a :hover,
.description-link4-work a :hover,
.description-link5-work a :hover,
.description-link6-work a :hover {
  border-bottom: rgb(51, 51, 51);
  background-color: white;
}

/*--------------- Changer le style de la navbar pour qu'il passe sur cette page ------*/

.list-element {
  text-align: right;
  color: white;
  padding: 10px;
  padding-left: 15px;
  font-size: 40px;
  border-radius: 5px;
}

.list-element:hover {
  background-color: rgba(91, 104, 104, 0.8);
}

.contact-work {
  transition: 1s;
  opacity: 0;
  text-align: center;
  color: white;
  -webkit-filter: grayscale(50%);
  background-color: rgba(51, 51, 51, 0.7);
  width: 45%;
  padding: 20px;
  font-size: 35px;
  z-index: 18;
  position: absolute;
  top: 0%;
  left: -33%;
}

.contact-work-view {
  opacity: 1;
  left: 1%;
}

.contact-work:hover {
  color: white;
  /*background-color: rgb(51, 51, 51, 0.6);*/
  /*border-bottom: 2px solid red;*/
}



/*.sticky {
  position: sticky;
  top: 0px;
  z-index: 300;
}*/



/*.sticky {
  position: sticky;
  top: 0px;
  z-index: 20;
}*/


#list-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  transition:  1s;
  z-index: 18;
  list-style: none;
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 20px;
}


#work-element {
  color: white;
  text-decoration: none;
}




/* ---------------------*/


/* ---------------laptop---------------- */


@media screen
  and (min-device-width: 900px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .container-1-work,
  .container-2-work,
  .container-3-work,
  .container-4-work,
  .container-5-work,
  .container-6-work {
    position: relative;
  }

  .container-1-work img,
  .container-2-work img,
  .container-3-work img,
  .container-4-work img,
  .container-5-work img,
  .container-6-work img {

    display: none;
  }

  .container-1-work video,
  .container-2-work video,
  .container-3-work video,
  .container-4-work video,
  .container-5-work video,
  .container-6-work video {
    display: block;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
  }

  .container-1-work h1,
  .container-2-work h1,
  .container-3-work h1,
  .container-4-work h1,
  .container-5-work h1,
  .container-6-work h1 {
    position: absolute;
    top: 28%;
    left: 10%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vw;
  }

  .container-1-work h5,
  .container-2-work h5,
  .container-3-work h5,
  .container-4-work h5,
  .container-5-work h5,
  .container-6-work h5 {
    position: absolute;
    top: 53%;
    left: 10%;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 13px;
    background-color: black;
    padding: 35px 40px;
  }

  .container-description-1-work,
  .container-description-2-work,
  .container-description-3-work,
  .container-description-4-work,
  .container-description-5-work,
  .container-description-6-work {
    background-color: white;
    margin: auto;
    width: 98vw;
  }

  .container-description-1-work h2,
  .container-description-2-work h2,
  .container-description-3-work h2,
  .container-description-4-work h2,
  .container-description-5-work h2,
  .container-description-6-work h2 {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(51, 51, 51)
  }

  .container-description-1-work p,
  .container-description-2-work p,
  .container-description-3-work p,
  .container-description-4-work p,
  .container-description-5-work p,
  .container-description-6-work p {
    color: rgb(51, 51, 51);
    text-align: center;
    padding-bottom: 70px;
    padding-top: 30px;
    padding-right: 25%;
    padding-left: 25%;
    font-size: 20px;
    font-weight: lighter;
  }

  .description-link1-work,
  .description-link2-work,
  .description-link3-work,
  .description-link4-work,
  .description-link5-work,
  .description-link6-work {
    text-align: center;
    padding-bottom: 60px;
  }

  .description-link1-work a,
  .description-link2-work a,
  .description-link3-work a,
  .description-link4-work a,
  .description-link5-work a,
  .description-link6-work a {
    text-decoration: none;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 20px 30px;
    transition: .3s;
  }

  .description-link1-work a:hover,
  .description-link2-work a:hover,
  .description-link3-work a:hover,
  .description-link4-work a:hover,
  .description-link5-work a:hover,
  .description-link6-work a:hover {
    border-bottom: 1px solid red;
    background-color: white;
    color: rgb(51, 51, 51);
  }

  .list-element {
    font-size: 18px ;
  }

  .contact-work {
    font-size: 16px ;
    width: 30% ;
  }

  .footer-w {
    bottom: 0;
    z-index: -1;
    height: 150px !important;
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 45px 0;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer-w h4 {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px !important;
      text-align: center;
  }

  .footer-w li {
      display: inline;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 40px !important;
  }

  .footer-w ul {
      padding-left: 0px;
      padding-top: 10px;
      text-align: center;
  }

  .footer2-w {
      background-color: rgb(233, 233, 233);
      height: 220px !important;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      margin-right: 10px;
      margin-left: 10px;
      font-size: 17px !important;
  }

  .footer2-w h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px !important;
      text-align: center;
      padding-top: 20px;
      margin-top: 0px;
  }

  .footer-w a, .footer2-w a {
      color: black;
  }

}

.list-element:hover {
  background-color: rgba(185, 220, 228, 0.3);
}

.footer-w {
    bottom: 0;
    z-index: -1;
    height: 260px ;
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 25px 0;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-w h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px ;
    text-align: center;
}

.footer-w li {
    display: inline;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 40px ;
}

.footer-w ul {
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}

.footer2-w {
    background-color: rgb(233, 233, 233);
    height: 360px ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px ;
}

.footer2-w h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px ;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

.footer-w a, .footer2-w a {
    color: black;
}










