
#menu {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 20px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  right: 20px;
}

#list {
 list-style: none;
}

.row { /* I removed the padding to the bootstrap class */
  margin-right: 0px !important;
  margin-left: 0px !important;
}


.land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://cdn.cnn.com/cnnnext/dam/assets/170707112424-3rd-prize-drone-winner-category-urban-full-169.jpg");
  width: 100vw;
  height: 90vh;

}

.logo-land-page {
  width: 90px;
  padding-left: 20px;
  padding-top: 50px;
}

.land-page h1 {
  color: white;
  padding-left: 20px;
  padding-top: 20px;

}

.land-page h5 {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.land-page h6 {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}

.container-photo1-home img {
  width: 100vw;
  height: 60vh;
  object-fit: none;
  border-top: 5px solid white;
}

.container-photo2-home img {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
}

.container-photo3-home img {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
}

.footer {
  background-color: rgb(32, 32, 32)
}

.footer .row {
  padding-top: 15px;
}

.footer p {
  color: white;
  text-align: center;
}

.link1-footer, .link2-footer {
  text-align: center;
}


















