.row { /* I removed the padding to the bootstrap class */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

html, body {
  overflow-x: hidden;
}

/* END FIRST SPEC */

/* MENU + CONTACT */

#navbar {
  color: white;
  width: 20px;
  position: absolute;
  top: 35px;
  right: 35px;
}


#list-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  transition:  1s;
}

.caché {
  opacity: 0;
  right: -70px;
  top: 60px;
  position: absolute;
  transition: 1s;
} .pascaché {
  right: 15px;
  opacity: 1;
}

.list-element {
  text-align: right;
  color: white;
  padding: 5px;
  padding-left: 15px;
  font-size: 18px;
  border-radius: 5px;
}

.list-element:hover {
  background-color: rgba(185, 220, 228, 0.3);
}


.contact {
  transition: .9s ease opacity,.9s ease transform,.3s background-color, .3s color, .3s border-bottom;
  transform: scale(0);
  opacity: 1;
  text-align: center;
  color: white;
  width: 90vw;
  height: 37vh;
  background-color: rgb(51, 51, 51);
  font-size: 16px;
  position: absolute;
  top: 21vh;
  left: 5vw;
}

.contact h2 {
padding-bottom: 10%;
}

.contact-view {
  opacity: 1;
  transform: scale(1);
}


/* END MENU + CONTACT */

/* LANDING PAGE */

.land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=359945facfe4c422fc308eaff8c0999f&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  font-family: 'Montserrat', sans-serif;
}


.logo-land-page {
  width: 90px;
  padding-left: 23px;
  padding-top: 12%;
}

.land-page h1 {
  color: white;
  padding-left: 23px;
  padding-right: 20px;
  padding-top: 10%;
  font-size: 4.8vh;

}

.land-page h5 {
  color: white;
  padding-left: 23px;
  padding-top: 10%;
  font-size: 18px;
}

.land-page h6 {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 40px;
}

/* END LANDING PAGE */

/* PORTOFOLIO TEXT */

.portofolio {
  background-color: rgb(247, 247, 247);
  font-family: 'Montserrat', sans-serif;
}

.portofolio h4 {
  text-align: center;
  margin-top: 0px;
  padding-top: 19%;
  font-size: 11px;
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.portofolio h2 {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 19%;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0px;
}

/* END PORTOFOLIO TEXT  */

/* PORTOFOLIO PICTURES */

.pictures {
  position: relative;
}

.pic1 {
  position: absolute;
  width: 100vw;
  top: 0px;
}

.loc1 {
  position: absolute;
  font-size: 15px;
  top: 20px;
  left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.text1 p {
  display: none;
}

.pic2 {
  position: absolute;
  width: 100vw;
  top: 150px;
}

.loc2 {
  position: absolute;
  font-size: 15px;
  top: 170px;
  right: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.pic3 {
  position: absolute;
  width: 100vw;
  top: 300px;
  height: 200px;
  object-fit: cover;
}

.pic33 {
  display: none;
}

.loc3 {
  position: absolute;
  font-size: 15px;
  top: 320px;
  left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.pic4 {
  position: absolute;
  width: 100vw;
  top: 450px;
  height: 200px;
  object-fit: cover;
}

.loc4 {
  position: absolute;
  font-size: 15px;
  top: 470px;
  right: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.pic5 {
  position: absolute;
  width: 100vw;
  top: 600px;
  height: 150px;
  object-fit: cover;
}

.pic55 {
  display: none;
}

.loc5 {
  position: absolute;
  font-size: 15px;
  top: 620px;
  left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* END PORTOFOLIO PICTURES */

/* INTRO TEXT */

.intro {
  background-color: rgb(247, 247, 247);
  text-align: center;
  margin-top: 410px;
  padding-top: 45px;
  font-family: 'Montserrat', sans-serif;
  height: 490px;
}

.intro h5 {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  line-height: 25px;
}

/* END INTRO TEXT */

/* VIEW THE WORK */

.container4 {
  background: url('https://res.cloudinary.com/tark-industries/image/upload/v1544104458/brianmainpic2.jpg') repeat fixed 100%;
  background-size: cover;
  background-position: center center;
}

.container4 h3 {
  padding-top: 35%;
  padding-bottom: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 34px;
}

.container4 img {
  padding-bottom: 30%;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

/* END VIEW THE WORK */

/* FOOTER */

/* footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: -1;
  height: 150px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 35px 0;
  text-align: center;
}

footer p {
  font-size: 16px;
  line-height: 26px;

} */

.footer {
    bottom: 0;
    z-index: -1;
    height: 180px;
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 45px 0;
    text-align: center;
}

.footer h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.footer li {
    display: inline;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.footer ul {
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}

.footer2 {
    background-color: rgb(233, 233, 233);
    height: 150px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer2 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

.footer a, .footer2 a {
    color: black !important;
}
















/* ------TABLETS------ */





















@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=359945facfe4c422fc308eaff8c0999f&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  width: 100vw;
  height: 65vh;
  font-family: 'Montserrat', sans-serif;
  }


  .logo-land-page {
    width: 150px;
    padding-left: 60px;
    padding-top: 150px;
  }

  .land-page h1 {
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;

  }

  .land-page h5 {
    color: white;
    padding-left: 60px;
    padding-top: 30px;
  }

  /* END LANDING PAGE */

  /* PORTOFOLIO TEXT */

  .portofolio {
    background-color: rgb(247, 247, 247);
    font-family: 'Montserrat', sans-serif;
  }

  .portofolio h4 {
    text-align: center;
    margin-top: 0px;
    padding-top: 17%;
    font-size: 11px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .portofolio h2 {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 17%;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0px;
  }

  /* END PORTOFOLIO TEXT  */

  /* PORTOFOLIO PICTURES */

  .pictures {
    position: relative;
  }

  .pic1 {
    position: absolute;
    width: 100vw;
    top: 0px;
  }

  .loc1 {
    position: absolute;
    font-size: 17px;
    top: 20px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .text1 p {
    display: none;
  }

  .pic2 {
    position: absolute;
    width: 100vw;
    top: 150px;
  }

  .loc2 {
    position: absolute;
    font-size: 17px;
    top: 170px;
    right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .pic3 {
    position: absolute;
    width: 100vw;
    top: 300px;
    height: 200px;
    object-fit: cover;
  }

  .pic33 {
  display: none;
  }

  .loc3 {
    position: absolute;
    font-size: 17px;
    top: 320px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .pic4 {
    position: absolute;
    width: 100vw;
    top: 450px;
    height: 200px;
    object-fit: cover;
  }

  .loc4 {
    position: absolute;
    font-size: 17px;
    top: 470px;
    right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .pic5 {
    position: absolute;
    width: 100vw;
    top: 600px;
    height: 150px;
    object-fit: cover;
  }

  .pic55 {
    display: none;
  }

  .loc5 {
    position: absolute;
    font-size: 17px;
    top: 620px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  /* END PORTOFOLIO PICTURES */

  /* INTRO TEXT */

  .intro {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 550px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
  }

  .intro h3 {
    padding-top: 30px;
  }

  .intro h5 {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    line-height: 25px;
  }

  /* END INTRO TEXT */

  /* VIEW THE WORK */

  .container4 {
    background: url('https://res.cloudinary.com/tark-industries/image/upload/v1544104458/brianmainpic2.jpg') repeat fixed 100%;
    background-size: cover;
    background-position: center center;
  }

  .container4 h3 {
    padding-top: 25%;
    padding-bottom: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 34px;
  }

  .container4 img {
    padding-bottom: 25%;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: invert(.8);
    filter: invert(.8);
  }

  /* END VIEW THE WORK */

  /* FOOTER */

  footer {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: -1;
    height: 150px;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 35px 0;
    text-align: center;
  }

  footer p {
    font-size: 16px;
    line-height: 26px;

  }

}











/* -------LAPTOPS------- */












@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=359945facfe4c422fc308eaff8c0999f&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  font-family: 'Montserrat', sans-serif;
  }


  .logo-land-page {
    width: 170px;
    padding-left: 80px;
    padding-top: 140px;
  }

  .land-page h1 {
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;

  }

  .land-page h5 {
    color: white;
    padding-left: 80px;
    padding-top: 30px;
  }

  /* END LANDING PAGE */

  /* PORTOFOLIO TEXT */

  .portofolio {
    background-color: rgb(247, 247, 247);
    font-family: 'Montserrat', sans-serif;
  }

  .portofolio h4 {
    text-align: center;
    margin-top: 0px;
    padding-top: 15%;
    font-size: 11px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .portofolio h2 {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 15%;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0px;
  }

  /* END PORTOFOLIO TEXT  */

  /* PORTOFOLIO PICTURES */

  .pictures {
    position: relative;
  }

  .pic1 {
    position: absolute;
    width: 100vw;
    top: 0px;
    height: 150px;
    object-fit: cover;
    transition-timing-function: ease-in ease-out;
    transition: 0.5s;
    z-index: 2;
  }

  .loc1 {
    position: absolute;
    font-size: 15px;
    top: 20px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    transition: 0.5s;
    height: 150px;
    width: 100%;
  }

  .text1 p {
    position: absolute;
    top: 700px;
    transition: 0.5s;
  }

  .test1:hover .pic1 {
    height: 270px;
    margin-top: -60px;
  }

  .test1:hover .loc1 {
    left: 100px;
    top: -20px;
  }

  .test1:hover .text1 p {
    top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: inline;
    text-align: center;
    z-index: 2;
    padding-right: 20%;
    padding-left: 20%;
    line-height: 30px;
    visibility: visible;
  }


  .pic2 {
    position: absolute;
    width: 100vw;
    top: 150px;
    height: 150px;
    object-fit: cover;
    transition-timing-function: ease-in ease-out;
    transition: 0.5s;
    /* z-index: 5; */
  }

  .loc2 {
    position: absolute;
    font-size: 15px;
    top: 170px;
    right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    /* z-index: 5 */
  }

  .text2 p {
    display: none;
    position: absolute;
  }

  .test2:hover .pic2 {
    height: 270px;
    z-index: 7;
    margin-top: -60px;
  }

  .test2:hover .loc2 {
    right: 100px;
    top: 150px;
    z-index: 7
  }

  .test2:hover .text2 p {
    top: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: inline;
    text-align: center;
    z-index: 7;
    padding-right: 20%;
    padding-left: 20%;
    line-height: 30px;
    color: white;
  }

  .pic3 {
    display: none;
  }

  .pic33 {
    position: absolute;
    width: 100vw;
    top: 300px;
    height: 150px;
    object-fit: cover;
    display: block;
    transition: 0.5s
  }

  .loc3 {
    position: absolute;
    font-size: 15px;
    top: 320px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    transition: 0.5s;
    z-index: 6
  }

  .text3 p {
    position: absolute;
    display: none;
  }

  .test3:hover .pic33 {
    height: 270px;
    z-index: 6;
    margin-top: -60px;
  }

  .test3:hover .loc3 {
    left: 100px;
    top: 300px;
    z-index: 7
  }

  .test3:hover .text3 p {
    top: 350px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: inline;
    text-align: center;
    z-index: 7;
    padding-right: 20%;
    padding-left: 20%;
    line-height: 30px;
    color: white;
  }

  .pic4 {
    position: absolute;
    width: 100vw;
    top: 450px;
    height: 150px;
    object-fit: cover;
    transition: .5s;
    /* z-index: 9; */
  }

  .loc4 {
    position: absolute;
    font-size: 15px;
    top: 470px;
    right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
    z-index: 5
  }

  .text4 p {
    display: none;
    position: absolute;
  }

  .test4:hover .pic4 {
    height: 270px;
    z-index: 7;
    margin-top: -60px;
  }

  .test4:hover .loc4 {
    right: 100px;
    top: 450px;
    z-index: 7
  }

  .test4:hover .text4 p {
    top: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: inline;
    text-align: center;
    z-index: 7;
    padding-right: 20%;
    padding-left: 20%;
    line-height: 30px;
    color: white;
  }

  .pic5 {
    display: none;
  }

  .pic55 {
    position: absolute;
    width: 100vw;
    top: 600px;
    height: 150px;
    object-fit: cover;
    display: block;
    transition: .5s;
  }

  .loc5 {
    position: absolute;
    font-size: 15px;
    top: 620px;
    left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 6;
    transition: .5s;
  }

  .text5 p {
    position: absolute;
    display: none;
  }

  .test5:hover .pic55 {
    height: 270px;
    z-index: 7;
    margin-top: -60px;
  }

  .test5:hover .loc5 {
    left: 100px;
    top: 600px;
    z-index: 8;
  }

  .test5:hover .text5 p {
    top: 640px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: inline;
    text-align: center;
    z-index: 8;
    padding-right: 20%;
    padding-left: 20%;
    line-height: 30px;
    color: white;
  }

  /* END PORTOFOLIO PICTURES */

  /* INTRO TEXT */

  .intro {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 750px;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
  }

  .intro h5 {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    line-height: 25px;
  }

  /* END INTRO TEXT */

  /* VIEW THE WORK */

  .container4 {
    background: url('https://res.cloudinary.com/tark-industries/image/upload/v1544104458/brianmainpic2.jpg') repeat fixed 100%;
    background-size: cover;
    background-position: center center;
  }

  .container4 h3 {
    padding-top: 20%;
    padding-bottom: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 34px;
  }

  .container4 img {
    padding-bottom: 20%;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: invert(.8);
    filter: invert(.8);
  }

  /* END VIEW THE WORK */

  /* FOOTER */

  footer {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: -1;
    height: 150px;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 35px 0;
    text-align: center;
  }

  footer p {
    font-size: 16px;
    line-height: 26px;

  }


}

























