
body {

}

.row { /* I removed the padding to the bootstrap class */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#navbar {
  color: white;
  width: 20px;
  position: absolute;
  top: 35px;
  right: 35px;
  /*z-index: 18;*/
}


#list-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  transition:  1s;
}

.caché {
  opacity: 0;
  right: -70px;
  top: 60px;
  position: absolute;
  transition: 1s;
} .pascaché {
  right: 15px;
  opacity: 1;
}

.list-element {
  text-align: right;
  color: white;
  padding: 5px;
  padding-left: 15px;
  font-size: 18px;
  border-radius: 5px;
}

.list-element:hover {
  background-color: rgba(185, 220, 228, 0.3);
}


.contact {
  transition: .9s ease opacity,.9s ease transform,.3s background-color, .3s color, .3s border-bottom;
  opacity: 0;
  transform: scale(0);
  text-align: center;
  color: white;
<<<<<<< HEAD
  background-color: grey;
  width: 30%;
  margin: auto;
=======
  background-color: rgb(51, 51, 51);
  margin: 2% 15%;
>>>>>>> 58aa9215ccd2574c0a98f6cc5ba1485f452b3840
  padding: 20px;
  font-size: 16px;
  z-index: 18;
} .contact-view {
  opacity: 1;
  transform: scale(1);
}

.contact:hover {
  color: rgb(51, 51, 51);
  background-color: white;
  border-bottom: 2px solid red;
}

/* ---------------Mon terrain de jeu la haut--------------------*/




.land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://cdn.cnn.com/cnnnext/dam/assets/170707112424-3rd-prize-drone-winner-category-urban-full-169.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}


.logo-land-page {
  width: 90px;
  padding-left: 20px;
  padding-top: 50px;
}

.land-page h1 {
  color: white;
  padding-left: 20px;
  padding-top: 30px;

}

.land-page h5 {
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}

.land-page h6 {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 40px;
}

/* ----------Second part----------- */

.wrap-container23 {
background-color: rgb(51, 51, 51);
  /* background-image: url('https://images.unsplash.com/photo-1540690623547-c1990572eab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c9893fa9347fc5bdef3ea7e7d14d31a&auto=format&fit=crop&w=634&q=80'); */
background-size: 100% 100%;
background-repeat: no-repeat;
padding-top: 20px;
padding-bottom: 20px;

}

.container2, .container3  {
  background-color: white;
  margin-left: 19px;
  margin-right: 19px;
}


.container2 img, .container3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container2 h4, .container3 h4 {
  text-align: center;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 0px;
}



.container4 {
  background: url('https://images.unsplash.com/photo-1540781481473-32298e12ba0c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7e19b2fb9ce3223ce8abb1ada140b79&auto=format&fit=crop&w=1534&q=80') repeat fixed 100%;

}

.container4 h3 {
  padding-top: 35%;
  padding-bottom: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 34px;
}

.container4 img {
  padding-bottom: 30%;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.container5 {
  display: none;
}

/* ---------footer------------ */

footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: -1;
  height: 150px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 35px 0;
  text-align: center;
}

footer p {
  font-size: 16px;
  line-height: 26px;

}


@media (max-width: 420px) {
  footer {
    font-size: 9pt;
  }
}




/* --------------------Tablets------------------------ */


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .land-page {
      height: 70vh;
    }

    .logo-land-page {
      width: 110px;
      padding-left: 40px;
      padding-top: 100px;
    }

    .land-page h1 {
      color: white;
      padding-left: 40px;
      padding-top: 60px;
    }

    .land-page h5 {
      color: white;
      padding-left: 40px;
      padding-top: 50px;
    }

    .land-page h6 {
      color: white;
      float: right;
      padding-right: 40px;
      padding-top: 90px;
    }

    .wrap-container23 {
    background-color: rgb(51, 51, 51);
      /* background-image: url('https://images.unsplash.com/photo-1540690623547-c1990572eab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c9893fa9347fc5bdef3ea7e7d14d31a&auto=format&fit=crop&w=634&q=80'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    }

    .container2, .container3 {
      margin-left: 0px;
      margin-right: 0px;
      background-color: rgb(242, 242, 242)
    }

    .container2 img, .container3 img {
      display: block;
      margin-left: auto;
      margin-right: 50%;
      width: 50%;
      padding-top: 30px;
      padding-left: 40px;
    }

    .container3 img {
      padding-bottom: 30px;
    }

    .container2 h4, .container3 h4 {
      display: none;
    }

    .container3 {
      margin-top: -2px;
    }

    .container5 img {
      width: 100%;
    }

    .container5 {
      display: inline;
      position: absolute;
      top: 30px;
      right: 40px;
      width: 35git%;
    }

    .container4 h3 {
      padding-top: 25%;
      padding-bottom: 5%;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      color: white;
      font-size: 34px;
    }

    .container4 img {
      padding-bottom: 25%;
      width: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-filter: invert(.8);
      filter: invert(.8);
    }

    #menu {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 40px;
    top: 30px;
  }
}


/* ----------Laptop------------- */


@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .land-page {
      height: 100vh;
    }

    .logo-land-page {
      width: 150px;
      padding-left: 60px;
      padding-top: 100px;
    }

    .land-page h1 {
      color: white;
      padding-left: 60px;
      padding-top: 60px;
    }

    .land-page h5 {
      color: white;
      padding-left: 60px;
      padding-top: 50px;
    }

    .land-page h6 {
      color: white;
      float: right;
      padding-right: 70px;
      padding-top: 120px;
    }

    .wrap-container23 {
    background-color: rgb(51, 51, 51);
      /* background-image: url('https://images.unsplash.com/photo-1540690623547-c1990572eab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c9893fa9347fc5bdef3ea7e7d14d31a&auto=format&fit=crop&w=634&q=80'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    }

    .container2, .container3 {
      margin-left: 0px;
      margin-right: 0px;
      background-color: rgb(242, 242, 242)
    }

    .container2 img, .container3 img {
      display: block;
      margin-left: auto;
      margin-right: 50%;
      width: 50%;
      padding-top: 30px;
      padding-left: 7%;
    }

    .container3 img {
      padding-bottom: 30px;
    }

    .container2 h4, .container3 h4 {
      display: none;
    }

    .container3 {
      margin-top: -2px;
    }

    .container5 img {
      width: 100%
    }

    .container5 {
      display: inline;
      position: absolute;
      top: 30px;
      width: 33%;
      right: 7%;
    }

    .container4 h3 {
      padding-top: 20%;
      padding-bottom: 5%;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      color: white;
      font-size: 34px;
    }

    .container4 img {
      padding-bottom: 20%;
      width: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-filter: invert(.8);
      filter: invert(.8);
    }

    #menu {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 40px;
    top: 30px;
  }


}















