
body {
background-color: rgb(51, 51, 51) !important;
}

.row { /* I removed the padding to the bootstrap class */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#menu {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 20px;
}

#menu img {
  width: 20px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  position: absolute;
  right: 20px;
}

#list {
 list-style: none;
}

.land-page {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://cdn.cnn.com/cnnnext/dam/assets/170707112424-3rd-prize-drone-winner-category-urban-full-169.jpg");
  width: 100vw;
  height: 100vh;

}

.logo-land-page {
  width: 90px;
  padding-left: 20px;
  padding-top: 50px;
}

.land-page h1 {
  color: white;
  padding-left: 20px;
  padding-top: 30px;

}

.land-page h5 {
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}

.land-page h6 {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 40px;
}

/* ----------Second part----------- */

.container2, .container3  {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.container3 {
  margin-top: -1px !important;
}

.container2 img, .container3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container2 h4, .container3 h4 {
  text-align: center;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

div {
  margin: 0px;
}


















